# Imports

In [1]:

import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import sqlite3 as lite
import sys
import warnings
warnings.filterwarnings('ignore')

In [2]:
plt.style.use('fivethirtyeight')
sns.set()
%matplotlib inline
#import dataset
data = pd.read_csv('CandidateSummaryActionSenate.csv')
#trimming unecessary columns

ndata = data[['can_nam','can_off','can_id', 'can_par_aff','ind_ite_con','ind_uni_con', 'ind_con'  ]]


ndata.columns=['candidate name' ,'running for','candidate ID', 'party', 'individual itemized', 'individual unitemized', "total individual contributions" ]
#prepare for cleaning

ndata[1:10]

,candidate name,running for,candidate ID,party,individual itemized,individual unitemized,total individual contributions
1,"EHLER, CHARLES JOSEPH",S,S6CO00234,REP,NaN,NaN,NaN
2,"MOHARIR, MUKUND MARTAND",S,S6CA00709,IND,NaN,NaN,NaN
3,"FRAZIER, RYAN LAVAR",S,S0CO00229,REP,"$237,080.00","$19,321.00","$256,401.00"
4,"GRASSLEY, CHARLES E SENATOR",S,S0IA00028,REP,"$4,414,642.00","$1,218,408.00","$5,633,053.00"
5,"BLUNT, ROY",S,S0MO00183,REP,"$6,444,218.00","$414,311.00","$6,658,523.00"
6,"PEARSON, CECIL WELDON JR",S,S6KY00096,DEM,NaN,NaN,NaN
7,"GATES, MICHELLE",S,S6GA00259,UNK,NaN,NaN,NaN
8,"BEITIKS, MIKELIS VALAINIS",S,S6CA00766,IND,"$2,995.00","$2,639.00","$5,634.00"
9,"BOOZMAN, JOHN",S,S0AR00150,REP,"$2,040,027.00","$112,514.00","$2,152,542.00"

# Bulk Data processing

In [3]:
# FEC dictates donations above $200 to be itemized, 
# but itemized data can also include values smaller than $200.
# To get the real small donation amount, add the amount of recorded itemized amount under $200 with unitemized amount. 


%matplotlib inline
ddata = pd.read_csv('indvis16ae.csv', )
ddata[0:10]

  Donor Lastname  Donor Name opensecrets_id amount
0          BERLE   CHRISTIAN      N00037401     50
1        DELANEY   MARTIN MR      N00030759     25
2       ABRAHAMS    MARSHALL      N00030759   2700
3         POWERS     MICHAEL      N00030759    250
4         HUMMEL   ROBERT MR      N00030759    100
5         HUMMEL   ROBERT MR      N00030759    100
6        DOLIFKA        LANI      N00030759    500
7         HUMMEL   ROBERT MR      N00030759    100
8          WHITE      WARD H      N00030759    500
9       YOUNGDON         YUN      N00030759    250

In [4]:
#cleanup of bad data
mask = ddata.amount.map(lambda x: isinstance(x, str))
frame = ddata[mask]
mask2 = frame.amount.map(lambda x: x.isnumeric())
ddata =frame[mask2]


%matplotlib inline
ddata[390:397]

    Donor Lastname   Donor Name opensecrets_id amount
391          SMITH   WENDELL MR      C00027466     51
393        STAMPER    JOHN H MR      C00027466    500
395       WALLISON       FRIEDA      N00030759    250
396        FRAZIER   RYAN LAVAR      N00030759    195
397          WYNNE      ALEC MR      N00030759     50
398          CLARK     THOMAS L      N00030759    300
399         BONSER     KATHLEEN      C00478362   1000

In [5]:
#getting data smaller than 200
amount = ddata.amount.map(lambda x: int(x))
mask4 = amount.map(lambda x: x<=200)
smalldonations = ddata[mask4]

%matplotlib inline
smalldonations[0:10]

   Donor Lastname     Donor Name opensecrets_id amount
0           BERLE      CHRISTIAN      N00037401     50
1         DELANEY      MARTIN MR      N00030759     25
4          HUMMEL      ROBERT MR      N00030759    100
5          HUMMEL      ROBERT MR      N00030759    100
7          HUMMEL      ROBERT MR      N00030759    100
16        SHERMAN    JONATHAN DR      C00027466    100
18          SIMMS     RICHARD MR      C00027466     51
19         SKAGGS      JOHN R MR      C00027466     50
20          SLOTA     ROMUALD DR      C00027466     51
23         HOLDER   CLAUDIA D MS      C00027466     68

In [16]:
smalldonations.loc[:,'amounti']= smalldonations.amount.map(lambda x: int(x))
candidatesum= smalldonations[['opensecrets_id', 'amounti']]
candidatesum['Small Donation Total'] = smalldonations.groupby(['opensecrets_id'])['amounti'].transform('sum')
candidatesum =candidatesum[['opensecrets_id', 'Small Donation Total']]
candidatesum=candidatesum.drop_duplicates(subset='opensecrets_id', keep="first")

%matplotlib inline
candidatesum[0:100]

       opensecrets_id  Small Donation Total
0           N00037401                  3087
1           N00030759                  7806
16          C00027466               2760770
87          C00478362                   500
89          C00374066                 19374
169         N00005930                   500
420         C00042366              10738261
4316        N00036915                377766
5348        N00035616                 62325
6426        N00026050                 13655
6750        N00039220                   830
6764        N00027694                 25437
6772        N00031782                 29088
6781        N00033177                 25987
8006        N00032546               1470063
8760        N00028139                  3932
8762        N00027503                 13007
13987       N00031244                202283
14391       C00220269                  1525
17012       C00297739                   100
21754       N00037494                   427
21838       N00040058                   400
39894       N00005195                 67650
40644       N00027533                 17467
40654       N00003682                541493
42278       N00029679                 49651
42626       N00037161               2127607
42728       N00039988                   400
43359       N00030005                   550
43583       C00454793                    80
...               ...                   ...
236448      N00028049                386493
238564      N00039473                  9694
239101      N00037495                   300
239102      C00356261                   200
241950      C00583278                     1
242602      N00030670                179436
243073      N00029277                  6047
247019      N00033054                  1150
247140      N00036211                  2580
247778      N00031696                 58732
256216      N00030980                524102
261393      N00035483                  7625
261402      N00030608                721171
263210      N00037156                   900
266726      N00003062                   300
267397      N00028418                280579
267473      C00169441                  6325
274076      N00008274                 22791
275604      N00038242                  8398
281437      N00037566                731450
286399      N00009975                   230
342914      N00028138                 24448
342916      N00004367                128925
343473      N00007836                 63124
344018      N00002097                  1350
344480      N00033091                272442
344901      N00035334                   810
344977      N00037232                  3700
350146      N00027860                839967
350893      N00039549                   607

[100 rows x 2 columns]

# Idealogy Score Processing

In [17]:
isdata = pd.read_csv('idealogyscore2016.csv')

stitching= pd.read_csv('legislators-current.csv')


# finding unique FECC ids from various files to merge with main candidate info graph
#bioguide_id with opensecrets_id
b =pd.merge(isdata, stitching, on='bioguide_id', how='inner')
ab = b[['last_name','ideology','rank_from_high','opensecrets_id','bioguide_id']]

#opensecrets
stitching= pd.read_csv('IDstitching.csv')



polarity = pd.merge(ab, stitching, left_on='opensecrets_id', right_on='CID', how='inner')

polarity[0:100]

,last_name,ideology,rank_from_high,opensecrets_id,bioguide_id,CID,CRPName,Party,DistIDRunFor,FECCandID
0,Grijalva,0.000000,439,N00025284,G000551,N00025284,"Grijalva, Raul M",D,AZ03,H2AZ07070
1,Norton,0.005965,438,N00001692,N000147,N00001692,"Norton, Eleanor Holmes",D,DC00,H0DC00058
2,Lee,0.015822,437,N00008046,L000551,N00008046,"Lee, Barbara",D,CA13,H8CA09060
3,Ellison,0.096084,435,N00028257,E000288,N00028257,"Ellison, Keith",D,MN05,H6MN05183
4,Chu,0.097032,434,N00030600,C001080,N00030600,"Chu, Judy",D,CA27,H0CA32101
5,McGovern,0.117683,432,N00000179,M000312,N00000179,"McGovern, James P",D,MA02,H4MA03022
6,Takano,0.117875,431,N00006701,T000472,N00006701,"Takano, Mark",D,CA41,H2CA43245
7,Schakowsky,0.119134,430,N00004724,S001145,N00004724,"Schakowsky, Jan",D,IL09,H8IL09067
8,Clarke,0.122171,428,N00026961,C001067,N00026961,"Clarke, Yvette D",D,NY09,H4NY11138
9,Conyers,0.127061,427,N00004029,C000714,N00004029,"Conyers, John Jr",D,MI13,H6MI01028
10,Jackson Lee,0.140375,426,N00005818,J000032,N00005818,"Jackson Lee, Sheila",D,TX18,H4TX18054
11,Moore,0.144527,425,N00026914,M001160,N00026914,"Moore, Gwen",D,WI04,H4WI04183
12,Watson Coleman,0.149656,424,N00036158,W000822,N00036158,"Coleman, Bonnie",D,NJ12,H4NJ12149
13,Hastings,0.151453,423,N00002884,H000324,N00002884,"Hastings, Alcee L",D,FL20,H2FL23021
14,Serrano,0.152501,422,N00001813,S000248,N00001813,"Serrano, Jose E",D,NY15,H0NY18065
15,DeSaulnier,0.155312,421,N00030709,D000623,N00030709,"Desaulnier, Mark",D,CA11,H0CA10073
16,Van Hollen,0.161015,420,N00013820,V000128,N00013820,"Van Hollen, Chris",D,MDS2,S6MD03441
17,Slaughter,0.165272,419,N00001311,S000480,N00001311,"Slaughter, Louise M",D,NY25,H6NY03031
18,Gutiérrez,0.167924,418,N00004874,G000535,N00004874,"Gutierrez, Luis V",D,IL04,H2IL08039
19,Pocan,0.168666,417,N00033549,P000607,N00033549,"Pocan, Mark",D,WI02,H2WI02124
20,Wilson,0.175227,416,N00030650,W000808,N00030650,"Wilson, Frederica",D,FL24,H0FL17068
21,Meeks,0.177559,415,N00001171,M001137,N00001171,"Meeks, Gregory W",D,NY05,H8NY06048
22,Cohen,0.181065,414,N00003225,C001068,N00003225,"Cohen, Steve",D,TN09,H6TN09068
23,Nadler,0.181769,413,N00000939,N000002,N00000939,"Nadler, Jerrold",D,NY10,H2NY17071
24,Lowenthal,0.183300,412,N00033274,L000579,N00033274,"Lowenthal, Alan",D,CA47,H2CA00104
25,Lofgren,0.191282,411,N00007479,L000397,N00007479,"Lofgren, Zoe",D,CA19,H4CA16049
26,Cummings,0.198927,410,N00001971,C000984,N00001971,"Cummings, Elijah E",D,MD07,H6MD07160
27,McCollum,0.199349,409,N00012942,M001143,N00012942,"McCollum, Betty",D,MN04,H0MN04049
28,Napolitano,0.199782,408,N00006789,N000179,N00006789,"Napolitano, Grace",D,CA32,H8CA34068
29,Lieu,0.213613,406,N00035825,L000582,N00035825,"Lieu, Ted",D,CA33,H4CA33119
...,...,...,...,...,...,...,...,...,...,...
70,Engel,0.278789,362,N00001003,E000179,N00001003,"Engel, Eliot L",D,NY16,H8NY19058
71,Carson,0.279538,361,N00029513,C001072,N00029513,"Carson, Andre",D,IN07,H8IN07184
72,Quigley,0.279852,359,N00030581,Q000023,N00030581,"Quigley, Mike",D,IL05,H0IL05096
73,Keating,0.279855,358,N00031933,K000375,N00031933,"Keating, Bill",D,MA09,H0MA10082
74,Davis,0.280257,357,N00009604,D000598,N00009604,"Davis, Susan A",D,CA53,H0CA49055
75,Adams,0.281572,356,N00035451,A000370,N00035451,"Adams, Alma",D,NC12,H4NC12100
76,Garamendi,0.281808,355,N00030856,G000559,N00030856,"Garamendi, John",D,CA03,H0CA10149
77,Kaptur,0.282741,354,N00003522,K000009,N00003522,"Kaptur, Marcy",D,OH09,H2OH09031
78,Deutch,0.282787,353,N00031317,D000610,N00031317,"Deutch, Ted",D,FL22,H0FL19080
79,Yarmuth,0.283388,352,N00028073,Y000062,N00028073,"Yarmuth, John A",D,KY03,H6KY03124
80,Langevin,0.283858,351,N00009724,L000559,N00009724,"Langevin, Jim",D,RI02,H0RI02139
81,Veasey,0.289918,350,N00033839,V000131,N00033839,"Veasey, Marc",D,TX33,H2TX33073
82,Gallego,0.290162,349,N00036097,G000574,N00036097,"Gallego, Ruben",D,AZ07,H4AZ07043
83,Crowley,0.291294,348,N00001127,C001038,N00001127,"Crowley, Joseph",D,NY14,H8NY07046
84,Pallone,0.293709,347,N00000781,P000034,N00000781,"Pallone, Frank Jr",D,NJ06,H8NJ03073
85,Eshoo,0.296930,346,N00007335,E000215,N00007335,"Eshoo, Anna",D,CA18,H8CA12098
86,Brownley,0.297819,345,N00034254,B001285,N00034254,"Brownley, Julia",D,CA26,H2CA00120
87,Larsen,0.304851,344,N00009759,L000560,N00009759,"Larsen, Rick",D,WA02,H0WA02080
88,Lowey,0.308944,343,N00001024,L000480,N00001024,"Lowey, Nita M",D,NY17,H8NY20056
89,Johnson,0.308959,342,N00008122,J000126,N00008122,"Johnson, Eddie Bernice",D,TX30,H2TX00015
90,Titus,0.310056,341,N00030191,T000468,N00030191,"Titus, Dina",D,NV01,H8NV03036
91,Foster,0.312439,340,N00029139,F000454,N00029139,"Foster, Bill",D,IL11,H8IL14067
92,Beatty,0.312998,339,N00033904,B001281,N00033904,"Beatty, Joyce",D,OH03,H2OH03125
93,Frankel,0.313737,337,N00002893,F000462,N00002893,"Frankel, Lois J",D,FL21,H2FL14053
94,Lujan Grisham,0.315659,336,N00029400,L000580,N00029400,"Grisham, Michelle Lujan",D,NM01,H8NM01257
95,Kildee,0.317222,335,N00033395,K000380,N00033395,"Kildee, Dan",D,MI05,H2MI05119
96,Polis,0.317472,334,N00029127,P000598,N00029127,"Polis, Jared",D,CO02,H8CO02137
97,Lynch,0.318690,333,N00013855,L000562,N00013855,"Lynch, Stephen F",D,MA08,H2MA09072
98,Doggett,0.319312,332,N00006023,D000399,N00006023,"Doggett, Lloyd",D,TX35,H4TX10028
99,Clay,0.320755,331,N00012460,C001049,N00012460,"Clay, William L Jr",D,MO01,H0MO01066

# combining the graphs

In [18]:
#trimming first name off candidate graph
a = np.array(ndata.as_matrix())
for i in range(len(a)):
    t = a[i][0].split(',')
    a[i][0] = t[0]
    
a = pd.DataFrame(a)
a.columns=['Candidate' ,'running for','candidate ID', 'party', 'individual itemized', 'individual unitemized', "total individual contributions" ]



totalmerge=pd.merge(a,polarity, left_on= 'candidate ID', right_on='FECCandID', how='right')
totalmerge=totalmerge[['Candidate','running for','individual itemized','individual unitemized', 
             'total individual contributions', 'ideology','opensecrets_id','Party']]

final =pd.merge(totalmerge, candidatesum, on = "opensecrets_id" ,how='outer')

%matplotlib inline
final[0:50]

,Candidate,running for,individual itemized,individual unitemized,total individual contributions,ideology,opensecrets_id,Party,Small Donation Total
0,YOUNG,S,"$6,061,480.00","$509,028.00","$7,285,947.00",0.700858,N00030670,R,179436.0
1,DESANTIS,S,NaN,NaN,NaN,0.756574,N00034746,R,40017.0
2,DUCKWORTH,S,"$7,723,251.00","$5,180,553.00","$12,903,810.00",0.358802,N00027860,D,839967.0
3,VAN HOLLEN,S,"$7,763,844.00","$820,926.00","$8,584,773.00",0.161015,N00013820,D,1177751.0
4,JORDAN,H,"$307,041.83","$62,991.66","$370,033.49",0.757205,N00027894,R,NaN
5,JOHNSON,H,"$78,400.00","$5,335.00","$83,735.00",0.308959,N00008122,D,NaN
6,ROSS,H,"$253,520.99","$13,981.05","$267,502.04",0.797177,N00030645,R,NaN
7,QUIGLEY,H,"$423,315.11","$21,160.18","$444,475.29",0.279852,N00030581,D,NaN
8,YODER,H,"$1,469,052.23","$26,718.37","$1,495,770.60",0.757943,N00031502,R,NaN
9,FLEISCHMANN,H,"$977,106.18","$12,578.28","$989,684.46",0.770622,N00030815,R,NaN
10,HUIZENGA,H,"$394,619.00","$36,338.46","$430,957.46",0.811735,N00030673,R,NaN
11,MEADOWS,H,"$255,144.38","$112,807.86","$367,952.24",0.844155,N00033631,R,NaN
12,HUDSON,H,"$664,965.82","$41,391.81","$706,357.63",0.836980,N00033630,R,NaN
13,HOLDING,H,"$1,120,183.33","$59,725.14","$1,179,908.47",0.707053,N00033399,R,NaN
14,VARGAS,H,"$221,166.00","$3,356.32","$224,522.32",0.256439,N00007021,D,NaN
15,LAWRENCE,H,"$298,136.89","$55,292.32","$353,429.21",0.242916,N00034068,D,NaN
16,LEVIN,H,"$210,795.11","$42,017.99","$252,813.10",0.231720,N00003950,D,NaN
17,NOLAN,H,"$947,053.81","$931,942.35","$1,878,996.16",0.359103,N00021207,D,NaN
18,ROUZER,H,"$541,793.62","$18,505.60","$560,299.22",0.928748,N00033527,R,NaN
19,WALBERG,H,"$985,458.06","$120,074.13","$1,105,532.19",0.857875,N00026368,R,NaN
20,DINGELL,H,"$521,048.24","$67,228.94","$588,277.18",0.255973,N00036149,D,NaN
21,WEBER,H,"$405,492.59","$19,415.47","$424,908.06",0.859999,N00033539,R,NaN
22,STEWART,H,"$345,142.22","$34,127.75","$379,269.97",0.812263,N00033932,R,NaN
23,SCHIFF,H,"$459,598.96","$54,232.74","$513,831.70",0.238129,N00009585,D,NaN
24,SCHULTZ,H,"$1,934,608.75","$917,332.05","$2,851,940.80",0.278059,N00026106,D,NaN
25,CONAWAY,H,"$720,970.39",$585.00,"$721,555.39",0.772635,N00026041,R,NaN
26,GOSAR,H,"$344,582.04","$71,358.50","$415,940.54",0.962993,N00030771,R,NaN
27,OLSON,H,"$549,263.23","$15,092.00","$564,355.23",0.982230,N00029285,R,NaN
28,RYAN,H,"$5,922,044.44",-$500.00,"$5,921,544.44",0.567482,N00004357,R,NaN
29,DIAZ-BALART,H,"$420,547.65","$3,529.88","$424,077.53",0.614104,N00025337,R,NaN
30,NEWHOUSE,H,"$439,211.23","$71,437.27","$510,648.50",0.835105,N00036403,R,NaN
31,DAVIS,H,"$39,792.80","$17,795.00","$57,587.80",0.259331,N00004884,D,NaN
32,PEARCE,H,"$1,287,805.15","$77,375.50","$1,365,180.65",0.883154,N00012672,R,NaN
33,CLARK,H,"$649,619.58","$56,284.04","$705,903.62",0.215529,N00035278,D,NaN
34,BASS,H,"$252,178.60","$13,326.55","$265,505.15",0.239026,N00031877,D,NaN
35,ROYCE,H,"$2,890,290.55","$50,510.23","$2,940,800.78",0.629354,N00008264,R,NaN
36,CLYBURN,H,"$322,138.33","$70,644.02","$392,782.35",0.355212,N00002408,D,NaN
37,DESAULNIER,H,"$280,709.56","$43,264.78","$323,974.34",0.155312,N00030709,D,NaN
38,GREEN,H,"$496,219.19","$24,420.05","$520,639.24",0.427487,N00005870,D,NaN
39,JOYCE,H,"$961,016.03","$30,558.00","$991,574.03",0.768829,N00035007,R,NaN
40,KENNEDY,H,"$1,954,374.02","$64,223.55","$2,018,597.57",0.332388,N00034044,D,NaN
41,LANCE,H,"$365,643.18","$58,919.43","$424,562.61",0.716533,N00000898,R,NaN
42,HASTINGS,H,"$410,836.00","$25,670.00","$436,506.00",0.151453,N00002884,D,NaN
43,PAULSEN,H,"$2,318,233.62","$187,622.74","$2,505,856.36",0.703167,N00029391,R,NaN
44,KING,H,"$475,794.00","$85,048.00","$560,842.00",0.618341,N00001193,R,NaN
45,CONYERS,H,"$142,933.10","$41,053.87","$183,986.97",0.127061,N00004029,D,NaN
46,SMITH,H,"$257,627.00","$23,026.93","$280,653.93",0.269503,N00007833,D,NaN
47,PERLMUTTER,H,"$630,569.95","$67,859.82","$698,429.77",0.343970,N00027510,D,NaN
48,PETERSON,H,"$150,863.68","$45,377.36","$196,241.04",0.652651,N00004558,D,NaN
49,JONES,H,"$357,891.00","$73,109.69","$431,000.69",0.786715,N00002299,R,NaN